<!-- Barra de título -->
<app-titlebar [sbTitle]='sbTitle'></app-titlebar>

<!-- Buscador y botón -->
<div class="searcherContainer col-sm-12">
	<div class="searcherBar">
		<input class="caja" type="text" placeholder="{{sbSearchPaceholder}}" [(ngModel)]="sbSearchString">
		<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align" (click)="Search()">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</div>
	<div *ngIf='sbSearchRestriction || sbSearchHint' class="q-search-hint">
		<p class='q-restriction'>{{sbSearchRestriction}}</p>
		<p>{{sbSearchHint}}</p>
	</div>
</div>

<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div class="q-breadCrumbs-element" *ngFor='let obCrumb of arBreadCrumb, let nuIndex=index' (click)="GoTo(nuIndex, obCrumb)">{{obCrumb.NAME}}</div>
</div>

<!-- Menú -->
<div class="q-faculties" *ngIf="arPensum.length == 0">
	<div [ngClass]="cellsClass" class="col-sm-3 contentBase" *ngFor='let obFaculty of arMenuFaculties'>
		<div class="col-sm-3 treeItem" (click)="ShowSons(obFaculty)">
			<div class="q-menu-option">{{obFaculty.NAME}}</div>
		</div>
	</div>
	<div *ngIf="arMenuFaculties.length === 0">No hay datos.</div>
</div>

<!-- Plan de estudio seleccionado -->
<div *ngFor='let obCarrer of arPensum'>
	<!-- Tipos de materias -->
	<div class="q-courses-types">
		<div *ngIf="obCarrer.GROUPERS.length === 0">No hay datos.</div>
		<div class="contentBase" *ngFor='let obCourseType of obCarrer.GROUPERS'>
			<div class="q-type">
				<div [ngClass]="getCourseTypeColor(obCourseType.ID)" class="courseTypeLegendSize"></div>
				<div class="q-type-description">{{obCourseType.DESCRIPTION}}</div>
			</div>
		</div>
	</div>	
	

	<div class="q-semesters-content">

	<!-- Semestres -->
		<div *ngIf="obCarrer.SEMESTERS.length === 0">No hay datos.</div>
		<div class="contentBase" *ngFor='let obSemester of obCarrer.SEMESTERS'>
			<div class="col-md-3 q-semester treeItem">
				<div data-toggle="collapse" data-target=".courses" class="q-semester-tittle">
					<div class="q-semester-name">
						{{obSemester.SEMESTER_NAME}}
					</div>
					<div class="q-credits q-semester-credits">
						<div>{{getTotalCredits(obSemester)}}</div>
						<div>Créditos</div>
					</div>
				</div>

				<!-- Materias -->
				<div class="collapse" class="courses">
					<div *ngIf="obSemester.SUBJECTS.length === 0">No hay datos.</div>
					<div *ngFor="let obCourse of obSemester.SUBJECTS" class="q-subject">
						<div [ngClass]="getCourseTypeColor(obCourse.ID_GROUPER)" class="courseTypeSize"></div>
						<div class="q-subject-name">{{obCourse.NAME}}</div>
						<div class="q-credits">
							<div>{{obCourse.CREDITS}}</div>
							<div>créditos</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

 <!-- Máscara -->
 <div class='q-Mask' *ngIf='sbMaskMessage'>{{sbMaskMessage}}</div>
  <!-- Máscara de error -->
 <div class='q-Mask' *ngIf='sbErrorMessage'>
	<div class="q-error-container">
		<div class="q-error-title">Error</div>
		<div class="q-errorMsg">{{sbErrorMessage}}</div>
		<button type="button" class="smallBtn btn btn-default btn-sm q-error-btn" aria-label="Left Align" (click)="CloseErrorMsg()">
			<span class="">Cerrar</span>
		</button>
	</div>
 </div>