
<!-- Barra de navegación -->

<div>
	<a class="logo" (click)="emitChange('Home')">
		<img src="assets/img/USBlogo.svg">
	</a>
	<ul class="nav navbar-nav q-side">
		<li [ngClass]="{'q-tabSelected': blCourseFinder}" (click)="emitChange('CourseFinder')"><div class="q-icon"><img src="assets/img/notebook.svg"></div><div class="q-description">Ubica tu clase</div></li>
		<li [ngClass]="{'q-tabSelected': blPensumSelected}" (click)="emitChange('Pensum')"><div class="q-icon"><img src="assets/img/diagram.svg"></div><div class="q-description">Planes de estudio</div></li>
		<li [ngClass]="{'q-tabSelected': blDirectory}" (click)="emitChange('Directory')"><div class="q-icon"><img src="assets/img/phone.svg"></div><div class="q-description">Directorio institucional</div></li>
		<li [ngClass]="{'q-tabSelected': blMap}" (click)="emitChange('Map')"><div class="q-icon"><img src="assets/img/map.svg"></div> <div class="q-description">Mapa de la universidad</div></li>
		<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
		<!--<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
		<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
		<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
					<!-- weather widget start <a target="_blank" href="http://hotelmix.es/weather/cali-19115"><img class="q-weather" src="https://w.bookcdn.com/weather/picture/26_19115_1_4_e67e22_250_d35401_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=60922"  alt="booked.net"/></a><!-- weather widget end -->
			<!--	<iframe frameborder="0" allowtransparency="true" width="300" height="473" src="https://widgets.moovitapp.com/w/51E32B80DD942ADDE0530100007F8816/72878"></iframe>-->
		
	</ul>
</div>
