
		<!-- Barra de navegación -->
		<div>
		  <a class="logo" (click)="emitChange('News')">
		  		<img src="assets/img/USBlogo.svg">
		  </a>
		  <ul class="nav navbar-nav">
		  		<li  (click)="emitChange('Pensum')">Planes de estudio</li>
		        <li  (click)="emitChange('CourseFinder')">Ubica tu clase</li>
		        <li  (click)="emitChange('Directory')">Directorio institucional</li>
		        <li  (click)="emitChange('Map')">Mapa de la universidad</li>
							<!-- weather widget start --><a target="_blank" href="http://hotelmix.es/weather/cali-19115"><img class="q-weather" src="https://w.bookcdn.com/weather/picture/26_19115_1_4_e67e22_250_d35401_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=60922"  alt="booked.net"/></a><!-- weather widget end -->
					<!--	<iframe frameborder="0" allowtransparency="true" width="300" height="473" src="https://widgets.moovitapp.com/w/51E32B80DD942ADDE0530100007F8816/72878"></iframe>-->
		  </ul>
		</div>
