<!--<div class="input-group" *ngFor="let activity of arAuditoriums">
      <span>{{activity.DESCRIPTION}}</span>
</div>-->

<!-- Barra de título -->
<app-titlebar [sbTitle]='sbTitle'></app-titlebar>

<!-- Buscador y botón -->
<div class="searcherContainer col-sm-12">
	<div class="searcherBar">
		<input class="caja" type="text" placeholder="{{sbSearchPaceholder}}" [(ngModel)]="sbSearchString">
		<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align" (click)="Search()">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</div>
	<div *ngIf='sbSearchRestriction || sbSearchHint' class="q-search-hint">
		<p class='q-restriction'>{{sbSearchRestriction}}</p>
		<p>{{sbSearchHint}}</p>
	</div>
</div>

<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div class="q-breadCrumbs-element" *ngFor='let obCrumb of arBreadCrumb, let nuIndex=index' (click)="GoTo(nuIndex, obCrumb)">{{obCrumb.DESCRIPTION}}</div>
</div>

<!-- Menú -->
<div class="q-buildings">
<div class="col-sm-3" *ngFor='let obOption of arMenuOptions'>
	<div class="col-sm-3 treeItem" (click)="ShowSons(obOption)">
		<p>{{obOption.DESCRIPTION}}</p>
		<p>{{obOption.TEACHER}}</p>
	</div>
</div>
</div>

<!-- Horario de auditorios -->

<div class="contentBase" *ngFor='let obClassRoom of arBuildingSchedule'>
	<div class="col-sm-3 q-semester treeItem">
		<div data-toggle="collapse" data-target=".courses">
			<div>
				{{obClassRoom.DESCRIPTION}}
			</div>
		</div>

		<!-- Materias -->
		<div class="collapse" class="courses">
			<div class='q-ScheduleItem' *ngFor="let obClass of obClassRoom.SCHEDULES">
				<div>{{obClass.DESCRIPTION}}</div>
				<div>{{obClass.STARTS_AT}} - {{obClass.ENDS_AT}}</div>
				<div>{{obClass.TEACHER}}</div>
			</div>
		</div>
	</div>
</div>



<!-- Horario de una materia -->
<div class="contentBase" *ngFor='let obDay of arCourseSchedule'>
	<div class="col-sm-3 q-semester treeItem">

		<div data-toggle="collapse" data-target=".courses">
			<div>
				{{obDay.DAY}}
			</div>
		</div>
		<!-- Materias -->
		<div class="collapse" class="courses">
			<div class='q-ScheduleItem' *ngFor="let obSchedule of obDay.SCHEDULES">
				<div>{{obSchedule.STARTS_AT}} - {{obSchedule.ENDS_AT}}</div>
				<div>{{obSchedule.BUILDING}}</div>
				<div>{{obSchedule.CLASSROOM}}</div>
			</div>
		</div>

	</div>
</div>

 <!-- Máscara -->
 <div class='q-Mask' *ngIf='sbMaskMessage'>{{sbMaskMessage}}</div>
  <!-- Máscara de error -->
 <div class='q-Mask' *ngIf='sbErrorMessage'>
	 <div class="q-errorMsg">{{sbErrorMessage}}</div>
	 <button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align" (click)="CloseErrorMsg()">
		<span class="">Cerrar</span>
		</button>
 </div>
