/* You can add global styles to this file, and also import other style files */
app-root{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}
app-view-content{
    flex-basis: 80% !important;
}
/*****************************************SIDEBAR*****************************/
app-sidebar{
    flex-basis: 20%;
     background-color: #F26101;
     border-right: 1px solid #F26101;
}
app-sidebar li{
    width: 100%;
    padding-left: 2rem;
    padding: 9% 2rem 9% 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-bottom:1px solid #ffffff;
}
.logo img{
    width: 100%;
}
.q-weather{
    margin:0 25% 0 25%;
}
.q-tabSelected {
    background-color: green;
}
/*****************************************SIDEBAR*****************************/
/*********************************TOPBAR**********************************/
.viewTopbar{
    background-color: #F26101;
    padding: 1rem;
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
}
.titleDiv{    
    margin: auto;
}

.clockFrame{
    width: 240px;
    height: 25px;
    position: absolute;
    right: 0;
    /*top: 0;*/
}

/***************************************/
/*************************************SEARCHER******************************************/
.searcherBar{
    border: 1px solid #474747;
    width: 80%;
    margin: 0 10% 0 10%;
    border-radius: 1em;
    margin-bottom: 3rem;
    background-color: #ffffff;
}
.searcherBar input{
    width: 80%;
    border: none;
}
.searcherBar button{
    border: none;
}
/*************************************SEARCHER******************************************/
app-view-content{
    flex-basis: 70%;
}
/***************************************UBICA TU CLASE*************************************/
.q-search-hint{
    margin: auto;
    width: 80%;
    text-align: center;
}
/***************************************UBICA TU CLASE*************************************/
/****************************************DIRECTORIO*****************************************/
.q-principal-content{
    background-color: rgba(255, 118, 0, 0.93);
    height: 28%;
    margin: 14% 5% 5% 5%;
    border-radius: 5px;
    text-align:center;
    position:relative;
    /*box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/*.contentBase{
    display: flex;
}*/
.treeItem{
    background-color: rgb(178, 71, 0);
    margin: 2rem 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.q-directory-table{
    border: 1px solid white;
    width: 90%;
    margin: auto;
}
.q-dependency{
   background-color: rgba(255, 127, 18, 0.62);
    text-align: center;
    color: #474747;
    font-weight: 800;
    height: 3rem;
    border: 3px solid white;
}
.q-phone{
    background-color: rgba(178, 71, 0, 0.71);
    text-align: center;
    color: #474747;
    font-weight: 800;
    height: 3rem;
    border: 3px solid white;
}
.q-email{
    background-color: rgba(255, 127, 18, 0.62);
    text-align: center;
    color: #474747;
    font-weight: 800;
    height: 3rem;
    border: 3px solid white;
}
.q-directory-result{
        border: 3px solid white;
    background-color: rgba(255, 127, 18, 0.08);
    text-align: center;
    font-weight: bold;
}
/****************************************DIRECTORIO*****************************************/
/****************************************CARTELERAS*****************************************/
app-news .sppMask{
    position: absolute;
    background-color: red;
    opacity: 0;
    width: 100%;
    height: 100%;
}
app-news iframe{
    width: 100vw;
    height: 100vh;
}
/****************************************CARTELERAS*****************************************/
/****************************************FACULTADES****************************************/
.q-faculties{
    background-color: rgba(255, 118, 0, 0.93);
    height: 25%;
    margin: 20% 5% 5% 5%;
    border-radius: 5px;
}
/****************************************FACULTADES****************************************/
/* Tipos de clase (pensum)*/
.courseTypeLegendSize {
	width: 3rem;
	height: 3rem;
}
.courseTypeSize {
	width: 1rem;
	height: 3rem;
}
/* Colores de los tipos de clases (pensum) */
.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}
.q-semesters-content{
    width: 90%;
    background: red;
    margin: auto;
}
.q-semester{
    width: 30%;
    margin: 1rem 1.5rem;
}