/* You can add global styles to this file, and also import other style files */
app-root{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
     overflow:hidden;
}
p{
    margin: 0;
}
app-view-content{
    flex-basis: 80% !important;
    background-image: url(assets/img/fondo.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
}

/************************************************************************************/
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EB7E15; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #EB7E15; 
}
/************************************************************************************/
/* Mascara */
.q-Mask {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}
.q-error-container{
    height: auto;
    width: 25%;
    text-align: center;
    background-color: #DEDEDE;
    border-radius: 5px;
}
.q-error-title{
    color: #E84B30;
    margin: 1rem;
}
.q-errorMsg {
    color: #313732;
    font-size: 0.9em;
    margin: 1rem;
}
.q-error-btn{
    background-color: transparent;
    border:none;
    color:#059D8E;
    width: 100%;
    margin-top: 2rem;
    font-size: 0.8em;
    border-top: 1px solid;
    height: 5rem;
}
.q-date{
    font-size: 0.8em;
    color: #059D8E;
    margin-top: 0.4rem; 
}
/*****************************************SIDEBAR*****************************/
app-sidebar{
    flex-basis: 20%;
     background-color: #DEDEDE;
     border-right: 1px solid #eb7e15;
}
.q-side{
    height: 69vh;
}
app-sidebar li{
  font-family: 'Lato', sans-serif;
    width: 100%;
    padding-left: 2rem;
    padding: 9% 2rem 9% 0;
    color: #313732;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #059d8e;
    
}
.nav>li{
    display: inline-flex;
    padding-left: 1rem;
    height: 25%;
    display: table;
    
}
.logo img{
    width: 100%;
}
.q-weather{
    margin:0 25% 0 25%;
}
.q-tabSelected {
    background-color: #eb7e15;
    color:#ffffff;
    box-shadow: -7px 1px 1px 1px rgba(0,0,0,0.48);
}

.q-icon{
    width: 30%;
    display: table-cell;
    vertical-align: middle;
}
.q-description{
    width: 80%;
    padding: 1rem;
    display: table-cell;
    vertical-align: middle;
}
/*****************************************SIDEBAR*****************************/
/*********************************TOPBAR**********************************/
.viewTopbar{
    background-color: rgba(222, 222, 222, 0.63);
    padding: 1rem;
    margin-bottom: 2rem;
    color: #313732;
    font-weight: bold;
    display: flex;
    height: 5rem;
    border-bottom: 2px solid #eb7e15;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    padding-bottom: 1.5rem;
}
.titleDiv{    
    margin: auto;
}

.clockFrame{
    width: 240px;
    height: 25px;
    position: absolute;
    right: 0;
    /*top: 0;*/
}

/***************************************/
/*************************************SEARCHER******************************************/
.searcherContainer {
    margin-bottom: 3rem;
}
.searcherBar{
    border: 1px solid #474747;
    width: 80%;
    border-radius: 1em;
    margin: auto;
    background-color: #ffffff;
    display: flex;
}
.searcherBar input{
    width: 80%;
    border: none;
    border-radius: 1em 0 0 1em;
    background-color: transparent;
    padding-left: 1rem;
    flex: 3;
    font-family: 'Roboto', sans-serif;
}
.searcherBar input:focus{
    outline: none;
    box-shadow: 0em 0em 6pt 1pt #34b0c1;
}

.searcherBar button{
    border: none;
    flex: 1;
    max-width: 5rem;
    background-color: transparent;
    background-color: #eb7e15;
    border-radius: 0 1em 1em 0;
    border-left: 1px solid black;
}

.searcherBar button:focus{
    outline: none !important;
}

.q-search-hint{
    margin: auto;
    width: 75%;
    padding: 0.5rem 1rem;
    background-color: #DEDEDE;
    font-size: 1.2em;
    border-radius: 0 0 1em 1em;
    font-family: 'Roboto', sans-serif;
}
.q-search-hint p {
    margin: 0;
}
.q-restriction {
    color: #E84B30;
    font-family: 'Roboto', sans-serif;
}
/*************************************SEARCHER******************************************/
app-view-content{
    flex-basis: 70%;
}
/****************************************DIRECTORIO*****************************************/
.q-principal-content{
    border: 1px solid #059D8E;
    background-color: rgba(5, 157, 142, 0.04);
    /*height: 28%;
    margin: 14% 5% 5% 5%;*/
    height: 25%;
    margin: 20% 5% 5% 5%;
    border-radius: 5px;
    text-align:center;
    position:relative;
}

.treeItem{
    background-color: #eb7e15;
    border: 1px solid #ffffff;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
    height: 5rem;
    display: table;
    font-family: 'Lato', sans-serif;
}
.q-menu-option{
    display: table-cell;
    vertical-align: middle;
}
/*.treeItem div{
      display: inline-block;
    vertical-align: middle;
}   */
.q-directory-table{
    border: 1px solid white;
    width: 90%;
    margin: auto;
}
.q-dependency{
    background-color: #313732;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    height: 3rem;
    border: 1px solid #eb7e15;
}
.q-phone{
    background-color: #313732;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    height: 3rem;
    border: 1px solid #eb7e15;
}
.q-email{
    background-color: #313732;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    height: 3rem;   
    border: 1px solid #eb7e15;
}
.q-directory-result{
    border: 1px solid #eb7e15;
    background-color:#ffffff;
    text-align: center;
    font-weight: bold;
    height: 4rem;
    font-family: 'Roboto', sans-serif;
}
.q-directory-result:nth-child(odd) {
    background-color:rgba(235, 126, 21, 0.13);
}
.q-directory-result:nth-child(even) {
    background-color:#ffffff;
}
.q-icon-directory{
    width: 10%;
}
.q-icon-directory img{
    width: 50%;
}
.q-parent-cont{
    display: inline-flex;
}
.q-table-description{
width: 90%;
font-family: 'Lato', sans-serif;
}
/****************************************DIRECTORIO*****************************************/
/****************************************CARTELERAS*****************************************/
app-news {
    overflow: hidden;
}
app-news .sppMask{
    position: absolute;
    background-color: #E84B30;
    opacity: 0;
    width: 100%;
    height: 100%;
}
app-news iframe{
    width: 100vw;
    height: 100vh;
}
/****************************************CARTELERAS*****************************************/
/****************************************FACULTADES****************************************/
.q-faculties{    
    height: 25%;
    margin: 20% 5% 5% 5%;
    border-radius: 5px;
    border: 1px solid #059D8E;
    background-color: rgba(5, 157, 142, 0.04);
    border-radius: 5px;
}
/****************************************FACULTADES****************************************/
/* Tipos de clase (pensum)*/
.courseTypeLegendSize {
	width: 3rem;
	height: 3rem;
}
/* Colores de los tipos de clases (pensum) */
.red {
	background-color: #E84B30;
}

.blue {
	background-color: #64CCFF;
}

.green {
	background-color: #49E83E;
}

.yellow {
	background-color: #FFD432;
}
.q-semesters-content{
    width: 90%;
    margin: auto;
}
.q-semester{
    width: 30%;
    margin: 1rem 1.5rem;
    padding: 0;
    height: auto;  
}
 
.q-semester:nth-child(4n){
    clear: left;
}
.q-subject{
    display: inline-flex;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #f6f6f6;
    vertical-align: top;
    border-left: 1px solid #059D8E;
    border-right:  1px solid #059D8E;
}
.courseTypeSize{
    width: 2%;    
}
.q-subject-name{
    width: 85%;
    text-align: left;
    color:#313732;
    padding: 1rem;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    font-family: 'Roboto', sans-serif;
}
.q-credits{
    color:#313732;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
}
.q-semester-tittle{
    display: inline-flex;
    width: 100%;
    background-color: #313732;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}
.q-semester-name{
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;    
}
.q-semester-credits{
    color:#ffffff;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif; 
    }
.q-courses-types{
    display: inline-flex;
    width: 80%;
    margin-left: 2.5rem;
}
.courses{    
   /* height: 46rem;*/
   height: 35rem;
    background-color:transparent;
}

.col-md-3.q-semester.treeItem{
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.q-type{
    display: inline-flex;
    margin: 0.5rem 1rem;
}
.courseTypeLegendSize{
    margin-right: 0.5rem;
}
.q-type-description{
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
}
.q-subject:last-child{
    border-bottom: 1px solid #059D8E;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
}

/****************************MIGA DE PAN****************************/
.breadCrumbs{
    display: inline-flex;      
    margin-bottom: 5rem;
}
.q-breadCrumbs-element{
 color: #ffffff;
 font-weight: bold;
 display: block;
 background: #059D8E;
 text-decoration: none;
 position: relative;
 height: 40px;
 line-height: 40px;
 padding: 0 10px 0 5px;
 text-align: center;
 margin-right: 23px;
 font-family: 'Roboto', sans-serif;
}
.q-breadCrumbs-element:first-child{
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
.q-breadCrumbs-element:last-child{
 padding-right: 15px;
 border-radius: 0 4px 4px 0;
 background-color: transparent;
 color:#384444;
 border: none;
 border-bottom: 1px solid #15a395;
 font-weight: 900;
 font-size: 1.1em;
 font-family: 'Lato', sans-serif;
 }
.q-breadCrumbs-element:first-child:before{
 border: none;
}
.q-breadCrumbs-element:last-child:after{
 border: none;
}
.q-breadCrumbs-element:last-child:before{
 border: none;
}
.q-breadCrumbs-element:before, .q-breadCrumbs-element:after{
 content: "";
 position: absolute;
 top: 0;
 border: 0 solid #059D8E;
 border-width: 20px 10px;
 width: 0;
 height: 0;
}
.q-breadCrumbs-element:before{
 left: -20px;
 border-left-color: transparent;
}

.q-breadCrumbs-element:after{
 left: 100%;
 border-color: transparent;
 border-left-color: #059D8E;
}

.q-cartelera {
 color: #ffffff;
 font-weight: bold;
 display: block;
 background: #059D8E;
 text-decoration: none;
 position: relative;
 height: 40px;
 line-height: 40px;
 padding: 0 10px 0 5px;
 text-align: center;
 margin-right: 23px;
 font-family: 'Roboto', sans-serif;
 width: 25rem;
 margin: auto;
 border-radius: 5px;
}

/* *********************************************************** MAP ************************************************************ */
.q-map-sized {
    position: relative;
}
.q-map-layer {
  /*position: absolute;*/
  top: 0;
  left: 0;
  transform: translate3d(0, -100%,0);
}
.q-map-selected {
  /*position: absolute;*/
  top: 0;
  left: 0;
  transform: translate3d(0, -300%,0);
}
.q-right-items-cont{
    width: 20rem;
    background-color: rgba(5, 157, 142, 0.04);
    border: 1px solid #059D8E;
    margin: 0 1rem;
    height: 90%;
}
.q-offices{
    border: 2px solid #DEDEDE;
    width: 100%;
    margin: 1rem 0;
    padding-left: 0.9rem;
}

.q-vertical {
    height: 90%;
    margin-left: 1rem;
    flex: 3;
}
.q-title-side{
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #313732;
    font-size: 1.2em;
}

.q-right-side {
    height: 90%;
    margin: auto;
    width: 95%;
    flex: 1;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}
.q-horizontal-flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 1;
}
app-map{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.q-map-item {
    background-color: #DEDEDE;
    max-width: 19vw;
    margin-bottom: 1rem;
    display: flex;
    height: 5rem;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
}
.q-map-centered{
   border: 1px solid #059D8E;
   width: 100%;
}

.q-map-number {
    border-right: 1px solid #059D8E;
    flex: 1;
    height: 5rem;
    color: #059D8E;
    font-weight: 900;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}

.q-map-description {
    width: 100%;
    /*border: 1px solid #059D8E;*/
    border-left: 0;
    flex: 10;
    height: 5rem;
    padding-left: 0.5rem;
    display: table-cell; 
    vertical-align: middle;
}
.q-mapSelection {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.q-map-mark {
    top: 0;
    left: 0;
    transform: translate3d(0, -200%, 0);
}
/*****************************************UBICA TU CLASE******************************/
.q-rooms-container{
    width: 90%;
    margin: auto;
}
.q-buildings{
    height: 25%;
    margin: 20% 5% 5% 5%;
    border-radius: 5px;
    border: 1px solid #059D8E;
    background-color: rgba(5, 157, 142, 0.04);
    border-radius: 5px;
}
.q-ScheduleItem {
    border-left: #059D8E 1px solid;
    border-right: #059D8E 1px solid;
    border-bottom: 1px solid #DEDEDE;
    background-color: #ffffff;
}
.q-ScheduleItem:last-child {
    border-bottom: #059D8E 1px solid;
     box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
}
.q-room-name{
    height: 3rem;
   /* margin-top: 1rem;*/
    font-family: 'Lato', sans-serif;
}
.q-room-cont-name{
    padding-top: 1rem;
    width: 100%;
    background-color: #313732;
}
.col-sm-3.q-official-course.q-semester.treeItem {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 100%;
}
.q-first-level-course{
    color: #059d8e;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.q-second-level-course{
  color: #313732;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}
.q-third-level-course{
  color: #313732;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
}
.q-official-course{
        background-color: #313732;
}
/***************************************UBICA TU CLASE*************************************/

/******************************* HOME *********************************/
.q-home{
    height: auto;
    margin-top: 20%;
}

.q-main-title {
   font-family: 'Lato', sans-serif;
    font-size: 5rem;
    color: #EB7E15;
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
}

.q-subtitle {
     font-family: 'Lato', sans-serif;
    font-size: 3rem;
    color: #EB7E15;
    text-align: center;
}

.q-welcome-text {
  font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #313732;
    margin: 10rem;
}