<!-- Barra de título -->
<app-titlebar [sbTitle]='sbTitle'></app-titlebar>

<!-- Buscador y botón -->
<div class="searcherContainer col-sm-12">
	<div class="searcherBar">
		<input class="caja" type="text" placeholder="{{sbSearchPaceholder}}" [(ngModel)]="sbSearchString">
		<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align" (click)="Search()">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</div>
	<div *ngIf='sbSearchRestriction || sbSearchHint' class="q-search-hint">
		<p class='q-restriction'>{{sbSearchRestriction}}</p>
		<p>{{sbSearchHint}}</p>
	</div>
</div>

<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div class="q-breadCrumbs-element" *ngFor='let obCrumb of arBreadCrumb, let nuIndex=index' (click)="GoTo(nuIndex, obCrumb)">{{obCrumb.DESCRIPTION}}</div>
</div>

<!-- Mapa -->
<div class='q-horizontal-flex'>
    <div class="q-vertical">
        <!-- Imagen base -->
        <div class='q-map-sized'><img src="assets/img/Map/{{sbMap}}"></div>
        <!-- capas -->
        <div class='q-map-layer'><img src="assets/img/Map/{{sbBaseLayer}}"></div>
        <!-- Marcador del quiosco -->
        <div class='q-map-mark'><img src="assets/img/Map/{{sbLocation}}"></div>
        <!-- para probar estoy poniendo todas pero realmente va solo una -->
        <div *ngIf='obSelected' class='q-map-selected'><img src="assets/img/Map/Layers/{{obSelected.IMG}}"></div>
    </div>

    <div class="q-right-side">
        <div class='q-map-item' [ngClass]="{'q-mapSelection': (obSelected && obItem.NUMBER === obSelected.NUMBER)}" *ngFor='let obItem of arMapItems, let nuIndex=index' (click)="Select(obItem)">
           <div class="q-map-centered"> <div class='q-map-number'>{{obItem.NUMBER}}</div><div class='q-map-description'>{{obItem.DESCRIPTION}}</div></div>
        </div>
        <div *ngIf="arMapItems.length === 0">
            No se encontró información del mapa.
        </div>
    </div>
    <!-- Info seleccionada -->
    <div class="q-right-side">
        <!-- Lugares del punto del mapa seleccionado -->
        <div *ngIf="obSelected">
            <div *ngFor='let obPlace of obSelected.PLACES'>
                {{obPlace.DESCRIPTION}}
            </div>
            <div *ngIf="obSelected.PLACES.length === 0">
                No hay oficinas.
            </div>
        </div>
    </div>
</div>

 <!-- Máscara -->
 <div class='q-Mask' *ngIf='sbMaskMessage'>{{sbMaskMessage}}</div>
  <!-- Máscara de error -->
 <div class='q-Mask' *ngIf='sbErrorMessage'>
    <div class="q-error-container">
        <div class="q-error-title">Error</div>
        <div class="q-errorMsg">{{sbErrorMessage}}</div>
        <button type="button" class="smallBtn btn btn-default btn-sm q-error-btn" aria-label="Left Align" (click)="CloseErrorMsg()">
            <span class="">Cerrar</span>
        </button>
    </div>
 </div>